@{
  Layout = "_Layout";
}

@model BugLister.Models.Project
@using BugLister.Models


<h2>Project Details</h2>
<hr />
<table class="set-table">
  <tr>
    <td>@Html.DisplayNameFor(model => model.ProjectName):</td>
    <td>@Html.DisplayFor(model => model.ProjectName)</td>
  </tr>
  <tr>
    <td>@Html.DisplayNameFor(model => model.Description):</td>
    <td>@Html.DisplayFor(model => model.Description)</td>
  </tr>
  <tr>
    <td>@Html.DisplayNameFor(model => model.Link):</td>
    <td><a href='@Html.DisplayFor(model => model.Link)'>Link to project</a></td>
  </tr>
</table>

<div class="box">
  <div class="inner-box">
    @if (@Model.Issues.Count == 0)
    {
      <p>No issues have been added yet!</p>
    } 
    @foreach (Issue issue in Model.Issues)
    {
      <li>@Html.ActionLink($"{issue.Title}", "Details", "Issues", new { id = issue.IssueId})</li>
    }
  </div>
</div>
<p>@Html.ActionLink("Add new issue", "Create", "Issues")</p>
<p>@Html.ActionLink("Back to projects list", "Index")</p>
<p>@Html.ActionLink("Edit project", "Edit", new { id = Model.ProjectId })</p>