@{
  Layout = "_Layout";
}

@model BugLister.Models.Language

<h4>Add a new language</h4>

@using (Html.BeginForm())
{
  <table class="set-table">
    <tr>
      <td>@Html.LabelFor(model => model.Name)</td>
      <td>@Html.TextBoxFor(model => model.Name, new { @required = "required"})</td>
    </tr>
    <tr>
      <td>@Html.LabelFor(model => model.DocLink)</td>
      <td>@Html.TextBoxFor(model => model.DocLink)</td>
    </tr>
  </table>
  <input type="submit" value="Add new language" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all languages", "Index")</p>