@{
  Layout = "_Layout";
}

@model BugLister.Models.Language
@using BugLister.Models

<h2>Language Details</h2>
<hr />
<table class="set-table">
  <tr>
    <td>@Html.DisplayNameFor(model => model.LanguageName):</td>
    <td>@Html.DisplayFor(model => model.LanguageName)</td>
  </tr>
  <tr>
    <td>@Html.DisplayNameFor(model => model.DocLink):</td>
    <td><a href='@Html.DisplayFor(model => model.DocLink)'>Main Documentation</a></td>
  </tr>
</table>

<div class="box">
  <div class="inner-box">
    @if (@Model.Issues.Count == 0)
    {
      <p>No issues have been added yet!</p>
    } 
    @foreach (Issue issue in Model.Issues)
    {
      <li>@Html.ActionLink($"{issue.Title}", "Details", "Issues", new { id = issue.IssueId})</li>
    }
  </div>
</div>


<p>@Html.ActionLink("Add new issue", "Create", "Issues")</p>
<p>@Html.ActionLink("Back to language list", "Index")</p>
<p>@Html.ActionLink("Edit language", "Edit", new { id = Model.LanguageId })</p>
<form action="/Issues/Search" method="post">
  <label>Enter a Search</label>
  <input class="input" type="text" id="search" name="search">
  <input type="submit" value="Search" class="btn btn-info buttons" />
</form>