@{
  Layout = "_Layout";
}

@model BugLister.Models.Language

<h2>Edit</h2>

<h4>Edit this language: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.LanguageId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.DocLink)
    @Html.EditorFor(model => model.DocLink)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to language list", "Index")</p>