@{
  Layout = "_Layout";
}

@model BugLister.Models.Language

<h2>Edit</h2>

<h4>Edit this language: @Html.DisplayFor(model => model.LanguageName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.LanguageId)
  <table class="set-table">
    <tr>
      <td>@Html.LabelFor(model => model.LanguageName)</td>
      <td>@Html.EditorFor(model => model.LanguageName, new { @required = "required"})</td>
    </tr>
    <tr>
      <td>@Html.LabelFor(model => model.DocLink)</td>
      <td>@Html.EditorFor(model => model.DocLink)</td>
    </tr>
  </table>
    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to language list", "Index")</p>