@{
  Layout = "_Layout";
}

@model BugLister.Models.Issue

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
  <table class="set-table">
    <tr>
      <td>@Html.LabelFor(model => model.Title)</td>
      <td>@Html.TextBoxFor(model => model.Title, new { @required = "required"})</td>
    </tr>
    <tr>
      <td>@Html.LabelFor(model => model.Type)</td>
      <td>@Html.DropDownList("Type")</td>
    </tr>
    <tr>
      <td>@Html.LabelFor(model => model.Description)</td>
      <td>@Html.TextAreaFor(model => model.Description, new { @class="big-input"})</td>
    </tr>
    <tr>
      <td>@Html.LabelFor(model => model.Solution)</td>
      <td>@Html.TextAreaFor(model => model.Solution, new { @class="big-input"})</td>
    </tr>
    <tr>
      <td>@Html.LabelFor(model => model.Link1)</td>
      <td>@Html.TextBoxFor(model => model.Link1)</td>
    </tr>
    <tr>
      <td>@Html.LabelFor(model => model.Link2)</td>
      <td>@Html.TextBoxFor(model => model.Link2)</td>
    </tr>
    <tr>
      <td>@Html.LabelFor(model => model.Link3)</td>
      <td>@Html.TextBoxFor(model => model.Link3)</td>
    </tr>
    <tr>
      <td>@Html.LabelFor(model => model.Language)</td>
      <td>@Html.DropDownList("LanguageId")</td>
    </tr>
    <tr>
      <td>@Html.LabelFor(model => model.Project)</td>
      <td>@Html.DropDownList("ProjectId")</td>
    </tr>
  </table>
  <input type="submit" value="Add new issue" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all issues", "Index")</p>
