@{
  Layout = "_Layout";
}

@model BugLister.Models.Issue

<p>Issue Details</p>
<hr />
<table class="set-table">
  <tr>
    <td>@Html.DisplayNameFor(model => model.Title):</td>
    <td>@Html.DisplayFor(model => model.Title)</td>
  </tr>
  <tr>
    <td>@Html.DisplayNameFor(model => model.Language.LanguageName):</td>
    <td>@Html.DisplayFor(model => model.Language.LanguageName)</td>
  </tr>
  <tr>
    <td>@Html.DisplayNameFor(model => model.Type):</td>
    <td>@Html.DisplayFor(model => model.Type)</td>
  </tr>
  <tr>
    <td>@Html.DisplayNameFor(model => model.Description):</td>
    <td>@Html.DisplayFor(model => model.Description)</td>
  </tr>
  <tr>
    <td>@Html.DisplayNameFor(model => model.Solution):</td>
    <td>@Html.DisplayFor(model => model.Solution)</td>
  </tr>
  @if (Model.Link1 != null)
  {
    <tr>
      <td>@Html.DisplayNameFor(model => model.Link1):</td>
      <td><a href='@Html.DisplayFor(model => model.Link1)'>Link 1</td>
    </tr>
  }
  @if (Model.Link2 != null)
  {
  <tr>
    <td>@Html.DisplayNameFor(model => model.Link2):</td>
    <td><a href='@Html.DisplayFor(model => model.Link2)'>Link 2</td>
  </tr>
  }
  @if (Model.Link3 != null)
  {
  <tr>
    <td>@Html.DisplayNameFor(model => model.Link3):</td>
    <td><a href='@Html.DisplayFor(model => model.Link3)'>Link 3</td>
  </tr>
  }
  <tr>
    <td>@Html.DisplayNameFor(model => model.Project.ProjectName):</td>
    <td>@Html.DisplayFor(model => model.Project.ProjectName)</td>
  </tr>
</table>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Issue", "Edit", new { id = Model.IssueId })</p>
<p>@Html.ActionLink("Delete Issue", "Delete", new { id = Model.IssueId })</p>